/* -----------------
   Global css
----------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.primary {
  background-color: #8202bd;
  color: white;
  padding: 14px 25px;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #8202bd;
}

.primary:hover {
  background-color: white;
  color: #8202bd;
}

.secondary {
  background-color: #bd02b4;
  color: white;
  padding: 14px 25px;
  border: 1px solid #bd02b4;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.secondary:hover {
  background-color: white;
  color: #bd02b4;
}

/* -----------------
   Header
----------------- */
.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 10px 10px 40px rgb(232, 232, 232);
}

.header-logo img {
  height: 50px;
  margin-right: 20px;
  padding-top: 10px;
}

.header-menu {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.header-menu li {
  margin-right: 15px;
}

.header-menu li a {
  color: black;
  text-decoration: none;
  transition: 0.4s;
}

.header-menu li a:hover {
  color: #8539ff;
}

/* -----------------
   Hero Section
----------------- */
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-section .hero-content {
  width: 100%;
  background: url("./images/Group\ 14.png");
  background-size: cover;
  padding: 10%;
}

.hero-section .hero-content i {
  padding-right: 2%;
  color: #8202bd;
}

.hero-section .hero-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-section .hero-img img {
  width: 60%;
}

.hero-section .hero-content h3 {
  text-transform: uppercase;
  font-size: 28px;
}

.hero-section .hero-content h1 {
  font-size: 52px;
  background: -webkit-linear-gradient(#ae00ff, #ff15ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-section .btn-div {
  margin-top: 20px;
}

/* -----------------
   About Section
----------------- */
.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 7%;
}

.about-section .about-content {
  width: 100%;
  text-align: right;
  padding-right: 50px;
}

.about-section .about-img {
  padding: 0 7% 0 7%;
}

.about-section .about-content button {
  margin: 20px 0px;
}

.about-section .about-img img {
  width: 100%;
}

/* -----------------
   Videos Section
----------------- */
.videos-section {
  text-align: center;
  padding: 50px 0px 0px 0px;
}

.videos-section .heading-div {
  padding: 0 10%;
}

.videos-section .video-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-gap: 10px;
  padding: 40px;
}

.videos-section .video-cards img {
  width: 100%;
}

.cards-container {
  position: relative;
  display: inline-block;
}

.cards-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.cards-container .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  border: 2px solid rgb(123, 15, 255);
  border-radius: 20px;
}

.cards-container .card .hover-text {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.cards-container:hover .card {
  opacity: 1;
}

/* -----------------
   Features Section
----------------- */
.features-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 80px 10%;
}

.features-section .feature-content {
  width: 100%;
}

.features-section .feature-content h2 {
  font-size: 36px;
}

.features-section .feature-content span {
  color: rgb(123, 15, 255);
}

.features-section .feature-content button {
  margin: 20px 0px;
}

.features-section .feature-img {
  position: relative;
  display: flex;
  justify-content: center;
}

.features-section .feature-img .back-image {
  width: 50%;
}

.features-section .feature-img .front-image {
  max-width: 25%;
  height: auto;
  display: block;
  position: absolute;
  top: 60%;
  left: 12%;
  z-index: 1;
}

/* -----------------
   View More Section
----------------- */
.view-more-section {
  background-color: rgba(239, 225, 255, 0.532);
  padding: 40px 0px;
}

.view-more-section .more-btn-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  grid-gap: 30px;
  padding: 10px;
  margin: 0px auto;
}

.view-more-section .more-btn {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  border: 1px solid white;
}

.view-more-section .more-btn:hover {
  transition: 0.7s ease;
  border: 1px solid rgb(123, 15, 255);
  cursor: pointer;
  color: rgb(123, 15, 255);
}

.view-more-section .more-btn img {
  padding: 7px 10px;
  width: 30%;
}

/* -----------------
   Footer
----------------- */
.footer {
  background-color: rgb(6, 7, 27);
  color: white;
  text-align: center;
  padding: 40px 10px;
}

.footer img {
  width: 20%;
}

.footer a {
  text-decoration: none;
  padding: 5px 20px;
}

.footer .quick-links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 10%;
}

.footer .social-icons {
  font-size: 30px;
}

.footer .social-icons i {
  padding: 2% 1%;
  cursor: pointer;
}

.footer .social-icons i:hover {
  color: rgb(152, 75, 254);
}

.footer .quick-links a {
  color: white;
}

.footer .quick-links a:hover {
  color: rgb(152, 75, 254);
}

.footer .imp-links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 10%;
}

.footer .imp-links a {
  color: rgb(146, 146, 146);
}

.footer .imp-links a:hover {
  color: rgb(152, 75, 254);
}

.copyright {
  padding: 20px 0px;
  color: rgb(146, 146, 146);
}

/* -----------------------
   CSS for Responsiveness
-------------------------- */
/* For Mobile View */
@media screen and (width < 426px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .header-menu,
  .header-btn {
    display: none;
  }
  .hero-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-section .hero-img {
    width: 100%;
    padding: 0 10%;
  }
  .hero-section .hero-content {
    text-align: center;
  }
  .hero-section .hero-img img {
    width: 100%;
  }
  .about-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-section .about-content {
    text-align: center;
    padding-right: 0px;
  }
  .videos-section .video-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-section .feature-content {
    text-align: center;
  }
  .view-more-section .more-btn-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .view-more-section .more-btn-grid {
    width: 100%;
  }
  .footer .imp-links {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  .footer img {
    width: 50%;
  }
  .footer .quick-links {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}

/* For Tablet View */
@media screen and (426px < width < 769px) {
  .videos-section .video-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .view-more-section .more-btn-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .view-more-section .more-btn-grid {
    width: 90%;
  }
  .footer .imp-links {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .footer .quick-links {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
  }
}
